.App {
  text-align: center;
}

.App-logo {
  height: 10%;
  width: 10%;
  pointer-events: none;

}

.background-image {
  background-image: url(./assets/images/background-lake.jpg);
  background-position: 20%;
  padding-top: 200px;
  height: 700px;
}

.orange {
  background-color: rgb(223, 90, 2);
  border: 1px solid white;
}

.orange:hover {
  background-color: rgb(224, 114, 40);
}