.App {
  text-align: center;
}

.App-logo {
  height: 10%;
  width: 10%;
  pointer-events: none;

}

header{ 
  background-image: url("./assets/images/background-lake.jpg");
  background-color: #cccccc;
}