.App {
  text-align: center;
}

.App-logo {
  height: 10%;
  width: 10%;
  pointer-events: none;

}

.background-image {
  background-image: url(./assets/images/background-lake.jpg);
  background-position: 20%;
  padding-top: 200px;
  height: 700px;
}